*{
    box-sizing: border-box;
}

.container{
    max-width: 1376px;
    margin: 0 auto;
}

body{
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
}

ul, ol{
    list-style-type: none;
}

.header-top{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d7d7d7;
}

.header-top-left{
    display: flex;
}

.header-top-right{
    display: flex;
}

.header-top-left p{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: var(--primary-hight-100, #000);
}

.header-top-left p:first-child{
    margin-right: 25px;
}

.header-top-left p a{
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: var(--primary-hight-100, #000);
}

.header-top-middle p a{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: var(--primary-hight-100, #000);
}

.header-top-right p{
    margin-right: 40px;
}
.header-top-right p:last-child{
    margin-right: 0;
}

.header-top-right a{
    color: var(--primary-hight-100, #000);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.header-middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 28px;
}

.header-middle-left{
    display: flex;
    flex-direction: column;
    width: 65%;
}

.header-middle-left ul{
    display: flex;
    padding-bottom: 28px;
    border: none;
}

.header-middle-left ul li{
    margin-right: 35px;
    border: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border: none;
}

.header-middle-left ul li:last-child{
    margin-right: 0;
}

.header-middle-left ul li button, .header-middle-left ul li a{
    background-color: transparent;
    text-decoration: none;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: var(--primary-hight-100, #000);
    cursor: pointer;
    padding: 0;
}



.header-middle-left ul li button:hover{
    color: var(--Secondary, #A6331C);
    transition: all .3s;
}

.tab-content ul{
    display: flex;
}

.tab-content ul li{
    margin-right: 25px;
}

.tab-content ul li:last-child{
    margin-right: 0;
}

.tab-content ul li a{
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--primary-hight-100, #000);
}

.tab-content ul li a:hover{
    color: var(--Secondary, #A6331C);
    transition: all .3s;
}

.header-middle-center{
    text-align: center;
    width: 25%;
}

.header-middle-center img{
    width: 25%;
}

.header-middle-right{
    width: 10%;
}

.header-social{
    display: flex;
    justify-content: space-between;
}

.header-social img{
    margin-right: 19px;
    width: 20%;
}

.header-social img:last-child{
    margin-right: 0;
}

.main{
    margin-bottom: 65px;
}

.main-content{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-content video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.overlay{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
}

.main-content-text{
    padding: 155px 55px;
    text-align: center;
    z-index: 2;
}

.main-content-text h1{
    color: var(--Surface, #FFF);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 32px;
}

.main-content-text p{
    color: var(--Surface, #FFF);
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.main-content-text a{
    border: 1px solid var(--Surface, #FFF);
    border-radius: 2px;
    color: var(--Surface, #FFF);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.25px;
    padding: 16px;
    cursor: pointer;
    transition: all .5s;
}

.main-content-text a:hover{
    background: var(--Surface, #FFF);
    color: var(--primary-hight-100, #000);
}

.rooms{
    margin-bottom: 64px;
}

.rooms-inner-top, .popular-inner-top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 24px;
}

.rooms-inner-top h2, .popular-inner-top h2{
    color: var(--primary-hight-100, #000);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.rooms-inner-top a, .popular-inner-top a{
    color: var(--primary-hight-100, #000);
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    height: fit-content;
    padding-bottom: 4px;
}

.rooms-card-item img{
    margin-bottom: 10px;
}

.rooms-card-item p{
    color: var(--primary-hight-100, #000);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.rooms-content .slick-list{
    position: relative;
}

.rooms-prev{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff;
    border: none;
    position: absolute;
    bottom: 50%;
    left: 1%;
    z-index: 2;
}

.rooms-next{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff;
    border: none;
    position: absolute;
    bottom: 50%;
    left: 95.5%;
}

.popular{
    margin-bottom: 64px;
}

.poular-item{
    display: flex;
}

.popular-card{
    width: 216px;
    max-width: 216px;
    height: 203px;
    max-height: 203px;
    margin-right: 16px;
    background: var(--Surface-img, #F6F6F6);
    text-align: center;
}

.popular-card-inner img{
    width: 100%;
}

.popular-card:last-child{
    margin-right: 0;
}

.popular-card:hover{
    background-color: #d8d0d0;
    transition: all .3s;
    cursor: pointer;
}

.popular-card-inner{
    margin-bottom: 16px;
}

.popular-card-inner p{
    color: var(--primary-hight-100, #000);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.mebel{
    margin-bottom: 64px;
}

.mebel-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mebel-content-text{
    width: 40%;
}

.mebel-content-text h2{
    color: var(--primary-hight-100, #000);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 32px
}

.mebel-content-text p{
    color: var(--primary-hight-100, #000);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-width: 573px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.mebel-content-text a{
    display: block;
    color: var(--primary-hight-100, #000);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.25px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #000;
    max-width: 130px;
    margin: 0 auto;
    transition: all .5s;
}

.mebel-content-text a:hover{
    background: #000;
    color: #fff;
}

.mebel-content-gallery{
     width: 60%;
}

.content-gallery-item{
    margin-right: 10px;
}

.content-gallery-item img{
    margin-bottom: 16px;
    display: block;
    width: 100%;
    max-height: 262px;
}

.content-gallery-item p{
    color: var(--primary-hight-100, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
}

.mebel-content-gallery .slick-list{
    position: relative;
}

.mebel-prev{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff;
    border: none;
    position: absolute;
    bottom: 50%;
    left: 1%;
    z-index: 2;
}

.mebel-next{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff;
    border: none;
    position: absolute;
    bottom: 50%;
    left: 92.5%;
}

.best{
    margin-bottom: 64px;
}

.best-inner-top, .collection-inner-top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 24px;
}

.best-inner-top h2, .collection-inner-top h2{
    color: var(--primary-hight-100, #000);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.best-inner-top a, .collection-inner-top a{
    color: var(--primary-hight-100, #000);
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    height: fit-content;
    padding-bottom: 4px;
}

.best-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.best-item{
    margin-bottom: 25px;
    width: 24%;
}

.best-item-photo{
    margin-bottom: 16px;
}

.best-item-photo img{
    width: 100%;
    min-height: 313px;
}

.best-inner-info{
    margin-bottom: 16px;
}

.best-inner-info p{
    color: var(--primary-hight-100, #000);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.best-iner-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.best-iner-text p{
    max-width: 230px;
    color: var(--primary-hight-100, #000);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.best-iner-text span{
    color: var(--primary-hight-100, #000);
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.best-inner-navigation{
    display: flex;
    justify-content: space-between;
}
.best-inner-navigation button{
    border: 1px solid #000;
    background: transparent;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    color: var(--primary-hight-100, #000);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0.25px;
    transition: all .5s;
}

.best-inner-navigation button:hover{
    background: #000;
    color: #fff;
}

.best-inner-navigation ul{
    border: none;
}

.best-inner-navigation ul li{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.best-inner-navigation ul li button{
    padding: 0;
    width: 35px;
    height: 35px;
}

.best-inner-navigation ul li button img{
    width: 35px;
    height: 35px;
}

.order{
    margin-bottom: 64px;
}

.order-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-info{
    width: 50%;
}

.order-info h2{
    color: var(--primary-hight-100, #000);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 20px;
}

.order-info p{
    color: var(--primary-hight-100, #000);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
}

.order-action{
    width: 50%;
}

.order-form input{
    border-radius: 5px;
    border: 1px solid var(--Divider, rgba(0, 0, 0, 0.12));
    padding: 16px;
    color: var(--primary-medium-60, rgba(0, 0, 0, 0.60));
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.order-form input::placeholder{
    color: var(--primary-medium-60, rgba(0, 0, 0, 0.60));
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.order-form button{
    width: 100%;
    padding: 16px 8px;
    border-radius: 2px;
    background: var(--primary-hight-100, #000);
    color: var(--Surface, #FFF);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.25px;
    transition: all .5s;
    border: 1px solid var(--primary-hight-100, #000);
}

.order-form button:hover{
    background: var(--Surface, #FFF);
    color: var(--primary-hight-100, #000);
    border: 1px solid var(--primary-hight-100, #000);
}

.collection{
    margin-bottom: 64px;
}

.collection-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-item{
    width: 50%;
    margin-right: 16px;
}

.collection-item:last-child{
    margin-right: 0;
}

.collection-item-photo{
    margin-bottom: 16px;
}

.collection-item-photo img{
    width: 100%;
}

.collection-panel{
    margin-bottom: 16px;
}

.collection-panel ul{
    border: none;
}

.collection-panel ul li{
    width: 99px;
    height: 99px;
}

.collection-panel ul li button{
    width: 99px;
    height: 99px;
    padding: 0;
}

.collection-panel ul li button img{
    width: 99px;
    height: 99px;
}

.collection-text{
    display: flex;
    justify-content: space-between;
}

.collection-text p{
    color: var(--primary-hight-100, #000);
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.collection-text span{
    color: var(--primary-hight-100, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.raschet{
    margin-bottom: 64px;
}

.about{
    margin-bottom: 130px;
}

.about-inner h2{
    color: var(--primary-hight-100, #000);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 24px;
}

.about-inner p{
    color: var(--primary-hight-100, #000);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    max-width: 614px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.about-slider-item{
    margin-right: 16px;
}

.about-slider-item video{
    width: 100%;
}

.about-content{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.about-info{
    width: 50%;
}

.about-slider{
    width: 50%;
}

.about-slider .slick-list{
    position: relative;
}

.about-prev{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff;
    border: none;
    position: absolute;
    bottom: 50%;
    left: 1%;
    z-index: 2;
}

.about-next{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff;
    border: none;
    position: absolute;
    bottom: 50%;
    left: 94.5%;
}

.about-inner{
    text-align: center;
}

.about-inner a{
    color: var(--primary-hight-100, #000);
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    padding-bottom: 4px;
    display: inline-block;
}

.footer{
    border-top: 1px solid var(--Divider, rgba(0, 0, 0, 0.12));
}

.footer-inner{
    padding-top: 30px;
    display: flex;
    margin-bottom: 55px;
}

.footer-left{
    width: 50%;
}

.footer-right{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
}

.footer-menu-left{
    width: 50%;
}

.footer-menu-left p{
    color: var(--primary-hight-100, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-bottom: 16px;
}

.footer-menu-left ul li{
    margin-bottom: 8px;
}

.footer-menu-left ul li a{
    color: var(--primary-hight-100, #000);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.footer-menu-right{
    width: 50%;
}

.footer-menu-right p{
    color: var(--primary-hight-100, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-bottom: 16px;
}

.footer-menu-right ul li{
    color: var(--primary-hight-100, #000);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
}

.footer-about{
    width: 50%;
}

.footer-about p{
    color: var(--primary-hight-100, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-bottom: 16px;
}

.footer-contacts{
    margin-bottom: 18px;
}

.footer-contacts p{
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-bottom: 5px;
}

.footer-contacts a{
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block;
    color: #000;
}

.footer-social p{
    color: var(--primary-hight-100, #000);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.4px;
}

.social-item{
    display: flex;
    align-items: center;
}

.social-item a{
    display: block;
    margin-right: 12px;
}

.social-item a:last-child{
    margin-right: 0;
}

.footer-payments{
    width: 50%;
}

.footer-payments p{
    color: var(--primary-hight-100, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-bottom: 16px;
}

.footer-payments img{
    margin-bottom: 32px;
}

.footer-payments p:last-child{
    margin-bottom: 16px;
}

.footer-payments button{
    color: var(--primary-hight-100, #000);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.25px;
    padding: 8px;
    width: 192px;
    background: transparent;
    border-radius: 2px;
    border: 1px solid #000;
    cursor: pointer;
    transition: all .5s;
}

.footer-payments button:hover{
    background: #000;
    color: #fff;
}

.finish{
    border-top: 1px solid var(--Divider, rgba(0, 0, 0, 0.12));
}

.politics-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.politics-inner p{
    color: var(--primary-hight-100, #000);
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.politics{
    display: flex;
    justify-content: space-between;
}

.politics p{
    margin-right: 74px;
    color: var(--primary-hight-100, #000);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.politics p:last-child{
    margin-right: 0;
}

.politics a{
    color: var(--primary-hight-100, #000);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.4px;
}

@media (max-width: 575.98px) {
    .header-top{
        flex-direction: column;
    }

    .header-top-left{
        justify-content: center;
        margin-bottom: 10px;
    }

    .header-top-middle{
        text-align: center;
        margin-bottom: 10px;
    }

    .header-top-right{
        justify-content: center;
    }

    .header-middle{
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header-middle-left{
        flex-direction: column;
        width: 100%;
    }

    .header-middle-left ul{
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 13px;
    }

    .header-middle-left ul li{
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .header-middle-left ul li button, .header-middle-left ul li a{
        font-size: 13px;
    }

    .tab-content ul{
        flex-wrap: wrap;
        justify-content: center;
    }

    .tab-content ul li{
        margin-right: 5px;
    }

    .header-middle-center{
        margin-bottom: 10px;
        width: 100%;
    }

    .header-middle-right{
        width: 100%;
    }

    .header-social{
        justify-content: center;
    }

    .header-social img{
        margin-right: 19px;
        width: 5%;
    }

    .main-content-text{
        padding: 35px 40px;
    }

    .main-content-text h1{
        font-size: 27px;
    }

    .main-content-text p{
        font-size: 18px;
        max-width: 100%;
    }

    .main-content-text a{
        font-size: 18px;
    }

    .mebel-content{
        flex-direction: column;
    }

    .mebel-content-text{
        width: 100%;
        margin-bottom: 35px;
    }

    .mebel-content-gallery{
        width: 100%;
    }

    .best-cards{
        flex-wrap: wrap;
    }

    .best-item{
        margin-bottom: 25px;
        width: 100%;
    }

    .order-inner{
        flex-direction: column;
    }

    .order-info{
        width: 100%;
    }

    .order-info h2{
        font-size: 28px;
    }

    .order-info p{
        font-size: 20px;
    }

    .order-action{
        width: 100%;
    }

    .best-inner-top h2, .collection-inner-top h2{
        font-size: 21px;
    }

    .collection-content{
        flex-wrap: wrap;
    }

    .collection-item{
        width: 100%;
        margin-bottom: 15px;
    }

    .collection-panel ul{
        display: flex;
    }

    .collection-panel ul li{
        width: 25%;
        height: fit-content;
    }

    .collection-text p, .collection-text span{
        font-size: 13px;
    }

    .about{
        margin-bottom: 50px;
    }

    .about-content{
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    .about-info{
        width: 100%;
    }

    .about-slider{
        width: 100%;
        margin-bottom: 35px;
    }

    .footer-inner{
        flex-direction: column;
    }

    .footer-left{
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-right{
        width: 100%;
    }

    .footer-contacts a{
        font-size: 16px;
    }

    .footer-payments p{
        font-size: 15px;
    }

    .politics-inner, .politics{
        flex-direction: column;
        justify-content: center;
    }

    .politics a{
        display: block;
        margin: 0 auto;
    }

    .rooms-card-item img{
        width: 100%;
    }

    .rooms-prev{
        left: 0%;
        bottom: 50%;
    }

    .rooms-next{
        left: 87.5%;
        bottom: 50%;
    }

    .mebel-prev{
        left: 0%;
    }

    .mebel-next{
        left: 87.5%; 
    }


}
